---
layout: layout.njk
title: Home
---
<section class="hero">
  <img src="{{ '/images/hero.jpg' | url }}" alt="Deccan Cafe Hero" class="hero-bg">
  <div class="hero-content">
    <h1>DECCAN CAFE</h1>
    <h2>Bold Flavors. Purely Vegetarian.</h2>
    <p>A celebration of bold vegetarian flavors — inspired by the kitchens of South India.
      From fragrant biryanis to sizzling street-style favorites, 
      every dish is crafted with tradition, spice, and soul.
    </p>
    <div class="button-row">
      <a href="https://deccan-cafe.com/" class="btn primary-btn">Order Online</a>
      <a href="/our-menu/" class="btn primary-btn">View Menu</a>
    </div>
  </div>
</section>

<section class="about">
  <div class="about-content">
    <div class="col-content">
      <h2 style="line-height: 1.3;">
        A Slice of Hyderabad <br> 
        <span style="font-size: 1.2rem; color: #A4B206;"> Rooted in Tradition. Reimagined for Vegetarians.<span>
      </h2>
      <p>At Deccan Eats, we bring the vibrant essence of South Indian cuisine to life — entirely vegetarian. 
        Every plate is a tribute to time-honoured recipes, layered spices, and comforting flavors that feel like home.
      </p>
      <a href="/about/" class="btn secondary-btn">Explore Our Story</a>
    </div>
    <div class="col-img">
      <img src="{{ '/images/Idli.jpg' | url }}" alt="Idli">
    </div>
  </div>
</section>

<section class="chefs-special">
  <div class="chefs-special-content">
    <div class="col-img">
      <img src="{{ '/images/PaneerDumBiryani.jpg' | url }}" alt="Paneer Dum Biryani">
    </div>
    <div class="col-content">
      <h2>Chef's Special:</h2>
      <p>
        <span style="color: var(--accent-secondary-600); font-weight: bold; font-size: 1.15rem;">
          Paneer Dum Biryani
        </span> 
        — fragrant basmati rice layered with marinated paneer, caramelized onions, saffron, 
        and slow-cooked on dum for deep, rich flavor. Served with cooling raita and house chutney.
      </p>
    </div>
  </div>
</section>

<section class="menu-carousal">
  <div class="carousal-track">
  <span>Paneer Dum Biryani</span>
  <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon" alt="food icon">
    
  <span>Classic Masala Dosa</span>
  <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon" alt="fork and spoon icon">
    
  <span>Gobi 65</span>
  <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon" alt="food icon">

  <span>Chilli Paneer</span>
  <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon" alt="fork and spoon icon">

  <span>Butter Cheese Dosa</span>
  <img src="{{ '/images/icons/food-dish-hand-serve-icon.svg' | url }}" class="carousal-icon" alt="food icon">

  <span>Veg Manchurian</span>
  <img src="{{ '/images/icons/Fork-n-spoon-icon.svg' | url }}" class="carousal-icon" alt="fork and spoon icon">
</section>

<section class="food-images">
  <div class="food-images-content">
    <img src="{{ '/images/food/ChaiMalaiBunCombo.jpg' | url }}" alt="Chai & Malai Bun Combo">
    <img src="{{ '/images/food/Idli.jpg' | url }}" alt="Idli with chutney and sambar">
    <img src="{{ '/images/food/Dosa.jpg' | url }}" alt="Crispy Dosa">
    <img src="{{ '/images/food/Paneer65.jpg' | url }}" alt="Paneer 65 appetizer">
    <img src="{{ '/images/food/ButterPaneer.jpg' | url }}" alt="Butter Paneer">
    <img src="{{ '/images/food/SweetLassi.jpg' | url }}" alt="Hyderabadi Sweet Lassi">
  </div>
</section>
