<footer>
  <div class="footer-content">
    <div class="footer-grid-1-3">
      <div class="logo">
        <img src="{{ '/images/Logo.png' | url }}">
      </div>

      <div class="footer-grid-1-1">
        <div class="info-block">
          Deccan Eats celebrates the richness of vegetarian South Indian cuisine — 
          from slow-cooked biryanis and crisp dosas to bold street-style favorites.
        </div>
        
        <div class="info-block">
          <h3>Contact</h3>
          <p>
            email TBD <br>
            Ph TBD
          </p>
        </div>
        
        <div class="info-block">
          <h3>Address</h3>
          <p>
            address TBD
          </p>
        </div>

        <div class="info-block">
          <h3>Open Hours</h3>
          <p>
            Monday - Sunday <span style="color: var(--accent-secondary-600); font-size:1.08rem; font-weight:bold;">12:00 PM - 12:00 AM</span>
          </p>
        </div>
      </div>
    </div>
    <p>&copy; 2026 Deccan Cafe. All rights reserved.</p>
  </div>
</footer>
